$primary: rgb(71, 98, 145);
$primary-dark: rgb(65, 87, 126);
$primary-darker: rgb(54, 71, 102);
$secondary: rgb(229, 83, 39);
$secondary-dark: rgb(206, 75, 35);
$secondary-darker: rgb(187, 67, 31);
$tertiary: rgb(242, 223, 104);
$quartiary: rgb(51, 51, 51);

$theme-colors: (
  "primary": rgb(71, 98, 145),
  "success": rgb(102, 16, 242),
  "secondary": rgb(51, 135, 138),
  "warning": rgb(250, 197, 52),
  "danger": rgb(229, 83, 39)
);
