// color-palette.scss contains bootstrap them-color overrides.
@import "./imports/color-palette.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./imports/accessibility.scss";

html,
body {
  min-height: 100vh;
}
body {
  background-color: rgb(252, 252, 252);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
$onepx: 0.0714285em;
.btn {
  box-shadow: 0 ($onepx * 2) ($onepx * 2) 0 rgba(0, 0, 0, 0.14),
    0 ($onepx * 3) ($onepx * 2) ($onepx * -2) rgba(0, 0, 0, 0.2),
    0 $onepx ($onepx * 5) 0 rgba(0, 0, 0, 0.12);
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 ($onepx * 4) ($onepx * 4) 0 rgba(0, 0, 0, 0.24),
      0 ($onepx * 6) ($onepx * 4) ($onepx * -4) rgba(0, 0, 0, 0.4),
      0 $onepx ($onepx * 5) 0 rgba(0, 0, 0, 0.22);
  }
}
