.dropdown-item {
  max-width: 10em;
  text-align: center;
  > * {
    display: inline-block;
    max-width: 100%;
  }
}
.dropdown-menu {
  [class*="ListLink"] {
    margin-left: 0;
  }
  > li {
    > a {
      display: inline-block;
    }
  }
}
